*__pycache__/
*.DS_Store
*.ipynb_checkpoints/

results/*/*.npz
results/*/*.npy
results/results_initial/
results/*.h5
results/*/*.h5
results/*/*/*.h5
results/*/mcmc*.json
results/*/prediction*.json
results/*/fit*.json
results/*/*.tex
results/*.hdf
results/*.pkl
results/*/*.pkl
results/*/*.csv
results/for_plots/test_tex
results/for_plots/hhat*.json
results/for_plots/l_tcr*.json
results/archives/*/*.pkl
results/archives/*/*.h5
results/archives/*/*.json
results/best_results_december/
figures/best_results_december/
figures/*.pdf
figures/*.png
figures/*.key
figures/*/*.pdf
figures/*/*.png
figures/*/*.key
figures/*/*.tar.gz
figures/*/*/*
data/*.h5
data/*.pkl
data/*.hdf
data/*/*.h5
data/*/*.pkl
data/*/*.hdf
data/*/*.xlsx
data/*/*.png
data/*/*.tex
data/*/*.pdf
data/*/*.csv
data/*/*.json
data/*/*/*.pkl
*.tar.gz
*.tar
*.pkl
*.npz
optimization_mcmc/*.txt
notes/
plotting_final/panels*/*.pdf
